<a href="https://colab.research.google.com/github/jonashendler/Competicao_de_ML/blob/main/IV_Competi%C3%A7%C3%A3o_de_ML_FLAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IV Competição de ML FLAI - Guia de Submissão**

In [1]:
#importação dos dados
import pandas as pd

url1 = 'https://raw.githubusercontent.com/jonashendler/Datasets/main/Competi%C3%A7%C3%A3o%20FLAI/treino.csv'
url2 = 'https://raw.githubusercontent.com/jonashendler/Datasets/main/Competi%C3%A7%C3%A3o%20FLAI/teste_1.csv'

treino = pd.read_csv(url1)
teste1 = pd.read_csv(url2)

In [ ]:
treino.head()

In [ ]:
treino.shape

In [ ]:
teste1.shape

In [ ]:
# alteração simultanea nos dados de treino e teste

conjuntos = [treino, teste1]

for dados in conjuntos:
    dados['Partner'] = dados['Partner'].map({'No': 0, 'Yes': 1})

In [ ]:
#submissão: 'Premium': 1 --- 'Normal': 0

import numpy as np

pred = [0, 1] * 1250

In [ ]:
# Arquivo padrão de submissão: 
# - Dataframe com apenas uma coluna, com nome 'Cliente', com os valores 1, para 'premium' e 0 para 'normal'. 
# - O índice do dataframe deve estar numerado de 0 a 2499

subm = pd.DataFrame()
subm['Cliente'] = pred

In [ ]:
subm

      Cliente
0           0
1           1
2           0
3           1
4           0
...       ...
2495        1
2496        0
2497        1
2498        0
2499        1

[2500 rows x 1 columns]

In [ ]:
# escrever a submissao em um arquivo
# IMPORTANTE usar o argumento 'index = False'

subm.to_csv('submissão1.csv', index = False)

---

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
X = treino[['tenure']]
y = treino['Cliente'].map({'Normal': 0, 'Premium': 1})

In [ ]:
modelo = LogisticRegression()
modelo.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred = modelo.predict(teste[['tenure']])

In [ ]:
subm = pd.DataFrame()
subm['Cliente'] = pred
subm.to_csv('submissão2.csv', index = False)

In [ ]:
subm

      Cliente
0           0
1           0
2           0
3           1
4           1
...       ...
2495        1
2496        0
2497        0
2498        1
2499        1

[2500 rows x 1 columns]

In [ ]:
# alteração simultanea nos dados de treino e teste

conjuntos = [treino, teste]

for dados in conjuntos:
    dados['Partner'] = dados['Partner'].map({'No': 0, 'Yes': 1})

In [ ]:
teste.head()

   gender  SeniorCitizen  ...  PaperlessBilling            PaymentMethod
0  Female              0  ...                No             Mailed check
1  Female              0  ...               Yes             Mailed check
2    Male              0  ...                No             Mailed check
3  Female              0  ...               Yes  Credit card (automatic)
4    Male              0  ...               Yes         Electronic check

[5 rows x 17 columns]